# ==============================
# Bot Identity
# ==============================
BOT_NAME=
BOT_TOKEN=
BOT_ID=
PREFIX=!

# ==============================
# Guild Configuration
# ==============================
GUILD_ID=

# ==============================
# Template
# ==============================
TEMPLATE_ID=

# ==============================
# Owner / Subscription
# ==============================
BUYER_ID=
SUBSCRIPTION_EXPIRES_AT=

# ==============================
# Environment
# ==============================
# NODE_ENV=production
NODE_ENV=development
